# Copy from AWS Lambda environment / Secrets Manager before deploying locally.
JWT_SECRET=
JWT_EXPIRES_IN=24h
KOBO_BASE_URL=https://kf.kobo.iom.int/api/v2
KOBO_ASSET_ID=
AWAAZ_KOBO_ASSET_ID=
KOBO_USERNAME=
KOBO_PASSWORD=
MAPBOX_SECRET_TOKEN=
MAPBOX_USERNAME=
ADMIN_CODE_DELETE=
ADMIN_CODE_UPDATE=
